SODEX_API_PRIVATE_KEY=private_key_cua_ban
SODEX_API_KEY_NAME=api-key-01
SODEX_API_PUBLIC_KEY=0x_your_public_api_key
SODEX_PUBLIC_KEY=0x_optional_alias_for_same_public_key
SODEX_CHAIN_ID=286623
SOSOVALUE_API_KEY=your_sosovalue_api_key
SOSOVALUE_API_BASE_URL=https://openapi.sosovalue.com/openapi/v1
GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=llama-3.3-70b-versatile
SODEX_SPOT_ENDPOINT=https://mainnet-gw.sodex.dev/api/v1/spot
SODEX_PERPS_ENDPOINT=https://mainnet-gw.sodex.dev/api/v1/perps
